.margin-0 {
    margin: 0;
}

.margin-right-50 {
    margin-right: 50px;
}
.margin-left-20 {
    margin-left: 20px;
}

.callout-sm {
    padding: 9px !important;
}

.select2-container {
    width: 100% !important;
    padding: 0;
}

.navbar-nav>.notifications-menu>.dropdown-menu>li .menu>li>a {
    white-space: normal !important;
}

.timeline {
    position: absolute;
    border-top: 2px dashed red;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 999 !important;
}
